.booking-header {
  text-align: center;
}

.booking-confirmation-header{
  margin-bottom: 30px;
}

.booking-notification {
  text-align: left;
}

.booking-form {
  text-align: left !important;
}

.btn-booking {
  margin-bottom: 30px !important;
}

.btn {
  margin-bottom: 30px !important;
  color: white;
  background-color: $blue;
  padding: 6px 12px 6px 12px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  a {
    color: white;
    font-size: 14px;
  }
  a:hover {
    color: white;
    text-decoration: none;
  }

}
