.restaurant-info {
  text-align: left;
}

.container-info {
}

.btn-book {
  color: white;
  background-color: $blue;
  padding: 6px 15px 6px 15px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  a {
    color: white;
    font-size: 20px;
  }
}
