<h1>Booking Received</h1>

<p>
  This email is a confirmation that your booking at <%= @booking.restaurant.name %> on <%= @booking.date.strftime("%A %e %B %Y") %> via Taste Porto's Food Concierge service has been received.
</p>
<p>
  If we have any questions about your booking we will be in touch. Until then, stay hungry!
</p>
<p>
  Your team at Taste Porto
</p>
