<div class="banner" style="background-image: url(<%=asset_path("vintage_tour.jpg") %>);">
  <div class="logo">
    <%= link_to restaurants_path, class: "logo-homepage" do %>
        <div class="logo">
          <%= image_tag "logo_branco.png", height: 300 %>
        </div>
    <% end %>
  </div>
  <div class="box">
    <div class="welcome">
      <h4>Welcome To Taste Porto’s Food Concierge</h4>
    </div>
    <div class="note">
      <h5>We take the hassle out of booking while traveling: we personally confirm your restaurant booking for you.*</h5>
      <br>
      <h6>*You will receive your confirmation by email. Bookings must be requested at least 2 hours prior to the reservation time.</h6>
    </div>
    <div class="login">
      <div class="btn-enter">
        <%= link_to "Let's Eat!", :new_user_registration %>
      </div>
    </div>
  </div>
</div>

