<div class="banner" style="background-image: url(<%=asset_path("food_tour.jpg") %>); height: 60vh; width: 100%;  top: 0; z-index: -1; background-size: cover !important; display: flex;">
  <div class="banner-content">
    <%= link_to restaurants_path, class: "logo-homepage" do %>
      <div class="logo">
        <%= image_tag "logo_branco.png", height: 300 %>
      </div>
  <% end %>
  </div>
</div>


